.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21222A;
    padding: 1rem;
    color: #ffffff;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-title {
    color: #61DAFB;
    font-size: 1.3906rem;
}